<div class="jumbotron">
    <div class="container">
        <h1><span class="{{textClass}}">{{status}}</span></h1>
        <p><span class="{{textClass}}">VHS has been {{toLower status}} for {{fromNow last}}</span></p>
    </div>
</div>

<div class="container">
    <div id="react-calendar-mount"></div>
</div>