<div class="jumbotron">
    <div class="container">
        <h1><span class="{{textClass}}">{{status}} {{#if openUntil}}<small>until {{time openUntil}}</small>{{/if}}</span></h1>
        <p></p>
        <p><a target="_blank" href="http://vanhack.ca/">Vancouver Hack Space</a>
            has been {{toLower status}} since {{since last}}</p>
        <p><a class="btn btn-primary btn" href="tel:+17783301234" role="button">
            <span class="glyphicon glyphicon-earphone"></span> +1 (778) 330-1234</a>
            <a class="btn btn-default" target="_blank"
               href="https://www.google.com/maps/place/Vancouver+Hack+Space/">
                <span class="glyphicon glyphicon-map-marker"></span>1601 Venables St</a>
        </p>
    </div>
</div>

<div class="container">
    <div id="react-calendar-mount"></div>
    <a class="btn btn-primary btn-sm" href="http://vanhack.ca/wp/events-calendar/">More Events</a>

    <a class="btn btn-default btn-sm" href="https://calendar.google.com/calendar/embed?src=6kqbcrijmvlp9e82gi0ql0csl4%40group.calendar.google.com&ctz=America/Vancouver"><span class="glyphicon glyphicon-calendar"></span> Add to your calendar</a>
</div>
